.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
}

.character {
  display: inline-block;
  cursor: pointer;

  &__icon {
    border-radius: 10px;
    max-width: 100px;
  }

  &__name {
    color: $text-black;
    margin-top: 3px;
    font-weight: 600;
  }
}

.char-details {
  margin: 5rem 0;

  &__info {
    display: flex;
    align-items: center;

    &-icon {
      border-radius: 0.7rem;
    }

    &-vision {
      padding: 1rem;
    }
  }

  &__skills,
  &__passive,
  &__constellations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;

    &-content {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      padding: 1.5rem 2.5rem 2.5rem 2.5rem;
      border-radius: 5px;

      & h2,
      & h3 {
        text-align: center;
      }

      & h3 {
        color: $text-orange;
        padding-bottom: 0.5rem;
      }
    }
  }
}
