.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
}

.character {
  display: inline-block;
  cursor: pointer;

  &__icon {
    border-radius: 10px;
    max-width: 100px;
  }

  &__name {
    color: $text-black;
    margin-top: 3px;
    font-weight: 600;
  }
}

.character-details {
  display: flex;
}
