.characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
}

.character {
  display: inline-block;
  cursor: pointer;

  &__icon {
    background-color: $primary;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 100px;
  }

  &__name {
    margin-top: 3px;
  }
}

.character-details {
  display: flex;
}
