* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #111422;
  color: #e2e5f1;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
